html {
    scroll-behavior: smooth;
}
.navbar {
    padding: .7rem;
    background-color: #f3941d !important;
}
.navbar-nav {
    padding-right: 20px;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
.navbar .nav-item a {
    font-size: 20px;
    margin-left: 40px;
}
.carousel-inner {
    width: 100%;
    height: 100%;
}
.my-row1 {
    height: 100px;
    margin-top: 50px;
}
.my-row2 {
    height: 500px;
    margin-top: 50px;
}


































.parallax {
    background-image: url(/img/Slow\ Linear\ .png);   
    min-height: 300px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





